
*{
    margin: 0 ;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    background: url('images/background.jpeg');
    background-size: 100% auto;
    width: 1500px;
    height: 800px;
}
.Menu-bar{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    background: #4F4F4F33 20%;
    color: white;
}
.Menu-bar .Menu-bar-menus ul li {
display: inline-flex;
justify-content: center;
font-family: Helvetica;
margin-left: 8px;
font-size: 15px;
color: white;
}
.Menu-bar .Menu-bar-menus ul li img{
    width: 20px;
    height: 15px;
}

.Menu-bar .Menu-bar-items ul li {
    display: inline-flex;
    justify-content: center;
font-family: Helvetica;
margin-left: 8px;
font-size: 14px;
color: white;
}
.Menu-bar .Menu-bar-items ul li img{
width: 20px;
height: 15px;
}
.container{
    position: absolute;
    width: 1120px;
    max-width: 100%;
    height: 650px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    margin-top: 70px;
    overflow: hidden;
}
.container .left-side{
    width: 424px;
    background: rgb(255, 253, 253);
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    
}
.container .right-side{
    width: 696px;
    background: white;
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
}
.container .left-side .header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: white;
    border-top-left-radius : 20px;
    
}
.traffic-lights{
    display: inline-flex;
    align-items: center;
    flex:7;
    margin-left: 10px;
    
}

.traffic-light-close{
    border-radius: 100%;
        height: 10px;
        width: 10px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        outline: none;
        background: #CE5347;
        margin-left: 5px;
        
}
.traffic-light-minimize{
    border-radius: 100%;
        height: 10px;
        width: 10px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        outline: none;
        background:#D6A243;
        margin-left: 5px;
}
.traffic-light-maximize{
    border-radius: 100%;
        height: 10px;
        width: 10px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        outline: none;
        background: #62C554;
        margin-left: 5px;
}
.top-icons{
    display: inline-flex;
    flex:1;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 15px;
}
.top-icons img{
    display: inline-flex;
    cursor: pointer;
    font-size: 1.5em;
    width: 28px;
    height: 28px;
    margin-left: 15px;
}
.content {
    display: flex;
}
.content .left-menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .right-content{
    flex: 7;
} 
.content .left-menu .box{
    font-size: 13px;
    text-align: center;
    font-family: helvetica;
    color: gray;
    font-weight: 600;
    padding: 10px 10px;
    justify-content: center;

}
.content .left-menu .box img{
    width: 23px;
    height: 18px;
    padding: 7px;
}
.userimage{
    text-align: center;
    padding: 15px 8px;
    
}
.userimage img{
    width: 49px;
    height: 49px;
    border-radius: 15px;
    text-align: center;
}
.userimage .dot button{
    position: absolute;
    margin-left: 15px;
    margin-top: -15px;
    border-radius: 100%;
        height: 12px;
        width: 12px;
        border: 1.5px solid white;
        box-sizing: border-box;
        outline: none;
        background: #62C554;
}
.right-content{
    overflow: hidden;
}
.search{
    display: flex;
}
.search input{
width: 90%;
outline: none;
border: none;
background: white;
height: 35px;
border-radius: 3px;
font-size: 14px;
margin-top: 5px;
}
.search img{
    display: inline-flex;
    font-size: 1.2em;
    font-size: 14px ;
    width: 14px;
    margin-right: 10px;
    margin-top: 15px;
    height: 13px;

}
.search .sort{
    width: 20px;
    height: 18px;
    margin-top: 12px;
}
.chat-list{
    height: 100%;
    overflow-y: auto;
    font-family: helvetica;
    width: 350px;

}
.chat-list .block{
    width: 330px;
    display: flex;
    align-items: center;
    padding: 9.3px 10px;
    
}
.chat-list .block .imgbox{
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
}
.chat-list .block .imgbox img{
    width: 55px;
    height: 55px;
}
.chat-list .block .details {
    position: relative;
    width: 75%;
    left: 10px;
    
}
.chat-list .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.chat-list .block .details .listHead h4{
    font-size: 16px;
    font-weight: 600;
    color: #54656F;
    font-family: helvetica;
}
.chat-list .block .details .listHead .time{
    font-size: 10px;
    color: #54656F;
}
.chat-list .block .details .message_p{
    display: flex;
    justify-content: space-between;
    font-weight: 550;
   
}
.chat-list .block .details .message_p p{
    color: #54656F;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 12px;
    font-weight: 550;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-list .block .details .message_p img{
    height: 15px;
    width: 15px;
}
.chat-list .block .details .message_p p img{
    height: 12px;
    width: 12px;
}
.chat-list .block .details .message_p b{
    background: #24D366;
    color: white;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.chat-list .block .details .listHead .u_time{
    font-size: 10px;
    color: #1DA855;
}
.right-side .header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: white;
    padding: 20px 20px;
}
.header .imgbox {
    display: inline-flex;
    flex: 1;
    
}
.header .imgbox img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.header .text{
    font-family: helvetica;
    font-size: 15px;
    color:#09132C;
    flex: 5;
}
.header .text p b{
    color: #54656F;
    font-weight: 380;
    font-size: 13px;
}
.header .text p .onlinedot{
    border-radius: 100%;
    height: 9px;
    width: 9px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    outline: none;
    background: #128C7E;
}
.header .top-icons1{
    display: inline-flex;
   align-items: center;
    list-style: none;
    flex: 3;
    
}
.header .top-icons1 img{
    display: inline-flex;
    cursor: pointer;
    font-size: 1.5em;
    width: 20px;
    height: 20px;
    margin-right: 30px;
}
.header .top-icons2{
    display: inline-flex;
   align-items: center;
    list-style: none;
    flex: 2;
    
}
.header .top-icons2 img{
    display: inline-flex;
    cursor: pointer;
    font-size: 1.5em;
    width: 20px;
    height: 20px;
    margin-right: 25px;
}
.chatbox{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 696px;
    padding: 20px;
}
.chatbox .message-security{
    display: inline-flex;
    padding: 12px 24px;
    align-items: center;
    margin-left: 100px;
    gap: 10px;
    border-radius: 12px;
background: #FEECDC;
color: #3B4A54;
width: 400px;
font-family: Helvetica;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.chatbox .message-security img{
width: 15px;
padding: 1.167px 4.083px 3.25px 4.083px;
align-items: flex-start;
}
.chatbox .day{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
width: 40px;
padding: 35px 12.38px 6px 12px;
border-radius: 7.5px;
background: rgba(255, 255, 255, 0.95);
box-shadow: 0px 1px 0.5px 0px rgba(11, 20, 26, 0.13);
color: #54656F;
text-align: center;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.40);
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
.frnd_message{
    display:flex;
    width: 90%;
    padding: 6px 7px 3px 9px;
    justify-content: flex-start;
    
}
.frnd_message p{
    display: flex;
    justify-content: flex-start;
    right: 0; 
    padding: 6px 7px 3px 9px;
    text-align: left;
    max-width: 55%;
    color: #111B21;
    background: white;
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border-radius: 5px;
    box-shadow: 0px 1.5px 0.5px 0px rgba(11, 20, 26, 0.13);
   
}

.frnd_message::before{
    content: '';
    position: relative;
    top: 0px;
    right: -2px;
    width: 15px;
    height: 10px;
    background: linear-gradient(225deg,white 0%,white 50%,transparent 50%,transparent);
}
.frnd_message p span{
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
     font-size: 8px;
     opacity: 0.5;
     margin-bottom: -8px;
}
.frnd_message p img{
    width: 17px;
    height: 17px;
}
.frnd_message .frame{
    width: 250px;
    height: 150px;
}
.my_message{
    display:flex;
    width: 650px;
    padding: 6px 7px 3px 9px;
    justify-content: flex-end;
}
.my_message p{
display: flex;
justify-content: space-between; 
flex-direction: column;
padding: 6px 7px 3px 9px;
text-align: left;
width: 160px;
color: #111B21;
background: #dcf8c6;
font-family: Helvetica;
font-size: 13px;
font-style: normal;
font-weight: 500;
border-radius: 5px 0px 5px 5px;
box-shadow: 0px 1.5px 0.5px 0px rgba(11, 20, 26, 0.13);
}
.my_message::after{
    content: '';
    position: relative;
    top: 0px;
    left: -2px;
    width: 15px;
    height: 10px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}
.my_message p span{
    display: flex;
    justify-content:flex-end ;
     font-size: 9px;
     opacity: 0.5;
     margin-bottom: -5px;
}
.my_message p span img{
    width: 15px;
    height: 12px;
    justify-content: flex-end;

}
.messages{
    display: flex;
    margin-left: 30px;
}
.messages input{
    width: 550px;
outline: none;
border: none;
background: white;
height: 45px;
border-radius: 3px;
font-size: 14px;
font-weight: 500;
padding: 2px 20px;
}
.messages img{
    display: inline-flex;
    font-size: 1.2em;
  
    width: 22px;
    margin-right: 18px;
    margin-top: 14px;
    height: 22px;

}